## For Loops

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Create a For loop that prints every digit on a new line.

In [1]:
digits = [0,1,2,3,4,5,6,7,8,9]

In [2]:
for d in digits:
    print d

0
1
2
3
4
5
6
7
8
9

Adjust the code, so the digits are all printed on the same line.

In [1]:
for d in digits:
    print d,

NameError: name 'digits' is not defined

In [3]:
var1 = 1
var2 = 0 
print var1, var2

1 0

In [4]:
if var1:
    print "True"

True

In [5]:
if var2:
    print "False"
else:
    print "True"

True

In [16]:
lst = [10,20,30,40]

In [17]:
lst2 = [i*2 for i in lst]

In [20]:
range(10,40)

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]